{% extends "_base.html" %}

{% load static %}

{% block styles_and_ico %}
<link type="image/x-icon" rel="shortcut icon" href="
          {% static "icons/favicon.ico" %}">

<link rel="stylesheet" href="
        {% static 'styles/blog_styles.css' %}">
{% endblock %}


{% block intro %}
<script src="{% static 'blog/scripts/blog.js' %}"></script>

<div class="posts">
    <div class="container">
        <h2 class="post_list_title">welcome to the blog, {{ user }}!</h2>

        <div class="post_list_container">

        {% if not user.is_anonymous %}
        <a class="creat_new_post" href="{% url "new" %}">Create new post</a>
        {% endif %}

        {% for post in object_list %}
            <article class="post_article">
                <a id="post_title" href="/blog/post/{{ post.pk }}"><h2 class="post_title">{{ post.title }}</h2></a>
                <p class="post_content">{{ post.content }}</p>
                <p class="post_time">{{ post.created_at }} / {{ post.author.email }}</p>

                <span class="post_like" onclick="like(this, {{ post.pk }});">
                    Likes: {{ post.nr_like }}</span>

                {% if user == post.author or user.is_superuser %}
                <form method="post" action="{% url "delete_one" post.pk %}">
                    <button id="single_post_delete" type="submit">Delete post</button>
                </form>
                {% endif %}

            </article>
        {% endfor %}

        {% if user.is_superuser %}
        <form action="{% url "delete_all" %}" method="post" >
            <button id="reset_all_id">Reset all posts</button>
            {% csrf_token %}
        </form>
        {% endif %}

        </div>
    </div>
</div>

{% endblock %}
